{% extends 'base.html' %}

{% block content %}
    <div class="container text-center justify-content-center align-self-center mt-5">
        <div class="mb-5">
            <h1>NatureRate</h1>
            <a class="btn btn-custom" href="{% url 'add_photo' %}">New Photo</a>
        </div>
        <div class="mr-5">
            <ul>
                {% for photo in photos %}
                    <h2>{{ photo.title }}</h2>
                    <img src="{{ photo.photo.url }}" alt="{{ photo.title }}" style="width: 50%; height: 50%" class="shadow">
                    <p>Likes: {{ photo.likes }}</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}